$none: none;

.GlrHeader-banner {

	.GlrHeader-social {
	    background-color: #eaeaea !important;
	    padding: 10px 0px!important;
	 }
	 .banner-top {

		 .banner-list {
		 	padding: 10px 0px 0px;

		 	li {
		 		list-style: $none;
		 		font-size: 10px;
		 		display: inline-block;
		 		margin-left: 10px;	
		 	}
		 	a {
		 		text-decoration: $none;
		 		color: gray;
		 	}
		 	ul {
		 		display: inline-block;
		 	}
		 }
		 .banner-contact {
		 	padding: 10px 0px 0px;

		 	button {
		 		float: left;
		 		display: inline-block;
		 		font-size: 10px;	
		 	}
		 	ul {
		 		float: left;
		 		display: inline-block;
		 		margin-right: 5px;
		 	}
		 	li {
		 		list-style: $none;
		 		font-size: 12px;
		 		display: inline-block;
		 		margin-left: 10px;
		 	}
		 	.banner-buscar {
		 		font-size: 12px;
		 		color: gray;
		 		float: left;

		 		p {
			 		border-left: 1px solid gray;
			 		margin-right: 5px;
			 		padding-left: 10px;
			 		display: inline-block;
		 		}
		 		.fa-search {
		 			border-right: 1px solid gray;
		 			padding-right: 10px;
		 		}
		 	}
		 }
	}
}